* {
  font-family: "CaskaydiaMono Nerd Font ";
  font-size: 17px;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar,
window#waybar>box {
  background: rgba(24, 24, 37, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 5px 6px;
}

tooltip {
  background: rgba(17, 17, 27, 0.6);
}


menu {
  border-radius: 6px;
  background: #161320;
  color: #B5E8E0;
  padding: 4px;
  margin: 4px;
  /* fix the overlap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

menuitem {
  padding: 8px 14px;
  border-radius: 4px;
}

menuitem:hover {
  background-color: #302D41;
}


tooltip label {
  color: #cdd6f4;
  margin: 0 2px;
}

#workspaces,
#custom-theme-toggle,
#pulseaudio,
#backlight,
#battery,
#custom-wifi,
#bluetooth,
#custom-power,
#idle_inhibitor,
#clock,
#mpris,
#cpu,
#memory,
#custom-notification {
  color: #cdd6f4;
  background: transparent;
  padding: 2px 6px;
  margin: 0 2px;
}

#workspaces {
  color: #f5e0dc;
}

#workspaces button {
  color: #b4befe;
  padding: 2px 4px;
  margin: 0 3px;
  border-radius: 2px;
}

#workspaces button.active {
  background: lavender;
  color: #000000;
  font-weight: bolder;
  text-decoration: underline;
}

#workspaces button.active:hover {
  background: #94e2d5;
  color: #181825;
}

#workspaces button:hover {
  color: #f38ba8;
}

#custom-power:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-wifi:hover,
#clock:hover,
#mpris:hover {
  color: #f9e2af;
}

#custom-power {
  color: #eba0ac;
}
#cpu {
  color: #b48ead;
}

#memory {
  color: #b48ead;
}

#pulseaudio {
  color: #94e2d5;
}

#battery {
  color: #74c7ec;
}

#custom-wifi {
  color: #89dceb;
}

#bluetooth {
  color: #f5c2e7;
}

#mpris {
  color: #a6e3a1;
}

#idle_inhibitor {
  color: #b4befe;
}

#clock {
  font-size: 18px;
  border-radius: 4px;
  padding-right: 12px;
  padding-left: 10px;
  margin-right: 3px;
  background-color: #cdd6f4;
  color: #2e3440;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

#battery.charging {
  color: #a6e3a1;
}

#custom-theme-toggle {
  color: #fab387;
  background: transparent;
}
